# Archivos de configuración de entorno
.env
.vscode/settings.json

# Archivos de compilación y depuración
*.exe
*.pdb
*.obj

# Archivos de cache y temporales
*.tmp
*.cache

# Archivos de logs
*.log

# Directorios de node_modules
node_modules/

# Directorios de __pycache__
__pycache__/

# Archivos de metadata de VS Code
.vscode/.gitignore
